<nav class="sidebar">
  <div class="sidebar_navegation">
    <div class="logo">
      <a href="">
        <img src="../../../assets/icons/logo-spotify.png" alt="logo do spotify">
      </a>
    </div>

    <div class="navegation_logo">
      <ul>
        <li>
          <a href="" class="logo_inicio">
            <span><fa-icon [icon]="faHouse"></fa-icon></span>
            <span>Inicio </span>
          </a>
        </li>
        <li>
          <a href="" class="logo_buscar">
            <span><fa-icon [icon]="faSearch"></fa-icon></span>
            <span>Buscar</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar_biblioteca">
    <button class="btn_biblioteca">
       <span>
         <fa-icon [icon]="faSliders"></fa-icon>
        </span>
      Sua Biblioteca
    </button>
    <div class="span_mais">
    <span>
       <button class="btn_mais"> <fa-icon [icon]="faPlus"></fa-icon></button>
    </span>
  </div>
</div>
</nav>
